@import url('https://fonts.googleapis.com/css?family=Lexend+Giga&display=swap');

/* Status buttons */
#red {
  background-color: #FCA17E;
  color: rgb(131, 75, 57);
}

#yellow{
  background-color: #FFF389;
  color: rgb(150, 136, 16);
}

#green {
  background-color: #D1E687;
  color: rgb(125, 150, 37);
}

#header{
  margin-top: 2px;
  margin-left: 2rem;
  padding-top: 1rem;
}