@import url('https://fonts.googleapis.com/css?family=Lexend+Giga|Londrina+Shadow|&display=swap');

/* Status buttons */
#red {
  background-color: #FCA17E;
  color: rgb(131, 75, 57);
}

#yellow{
  background-color: #FFF389;
  color: rgb(150, 136, 16);
}

#green {
  background-color: #D1E687;
  color: rgb(125, 150, 37);
}

/* Login and Signup Buttons */ 
#login-button {
  background-color: rgb(255, 255, 255);
  border: white;
  color: rgb(149, 165, 92);
}

#login-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

#logout-button {
  background-color: rgb(255, 255, 255);
  border: white;
  color: rgb(231, 148, 114);
  font-weight: bolder;
}

#logout-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

#submit-login-form:focus {
  outline: none !important;
  box-shadow: none !important;
}

#signup-button {
  background-color: rgb(255, 255, 255);
  border: white;
  color: rgb(125, 150, 37);
}

#signup-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

#submit-signup-form:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Category buttons */
#ruby {
  border: 2px solid rgb(201, 184, 29);
  border-radius: 5px;
  background-color: white;
  color: rgb(201, 184, 29)
}

#javascript{  
  border: 2px solid rgb(125, 150, 37);
  border-radius: 5px;
  background-color: white;
  color: rgb(125, 150, 37);
}

#commands{
  border: 2px solid rgb(131, 75, 57);
  border-radius: 5px;
  background-color: white;
  color: rgb(131, 75, 57);
}

#category-buttons{
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Header */ 
#header{
  margin-top: 2px;
  margin-left: 2rem;
  padding-top: 1rem;
  color: #E58869;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(206,196,177,0.54);
}

/* Login Form  */
#password-title{
  color: white;
}

#email-title{
  color: white;
}

#login-modal{
  align-items: center;
}

/* Modal  */
#modal {
  /* position: flex !important; */
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}

#signup-modal {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}

#my-flashcards {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}