@import url('https://fonts.googleapis.com/css?family=Manjari:400,700&display=swap');

.flashcard {
  background-color: transparent;
  width: 580px;
  height: 400px;
  perspective: 1000px;
}

.flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Manjari', sans-serif;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flashcard:hover .flashcard-inner {
  transform: rotateY(180deg);
}

.flashcard-front, .flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 11px;
}

.flashcard-front {
  background-color: rgba(94, 94, 94, 1); 
  color: white;
}

.flashcard-back {
  background-color: rgba(212, 212, 212, 1);
  color: rgba(55, 55, 55, 1);
  transform: rotateY(180deg);
}

.front-text{
  font-weight: bold;
  margin-top: 30%;
}

.back-text{
  margin-top: 30%;
}

