.update-button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 1em 0.1em 1em 0;
  border: 0.16em solid rgba(255,255,255,0);
  border-radius: 11px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 0.2s;
  width: 12em;
  height: 2.3em;
}

.update-button:hover{
  border-color: rgba(255,255,255,1);
}

#red {
  background-color: #FCA17E;
  color: rgb(131, 75, 57);
}

#yellow{
  background-color: #FFF389;
  color: rgb(150, 136, 16);
}
#green {
  background-color: #D1E687;
  color: rgb(125, 150, 37);
}